mixin input_field(obj)
	-
		var	themeClass = ""; if (obj.theme) themeClass = ` form-element--${obj.theme}`;
		var	type = obj.type || "text";
		var	name = obj.name || "";
		var	ph = obj.placeholder || label;
		var	value = obj.value || "";
		var	required = obj.required || false;
		var	minLength = obj.minLength || false;

	div(class="form-element" + themeClass)
		input(
			type=type,
			class="input",
			name=name,
			placeholder=ph,
			value=value,
			required=required,
			minlength=minLength
		)/